<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fehlerseite des Tesla-Dashboards mit Hinweis auf eine nicht gefundene Seite (404)">
    <meta name="keywords" content="Tesla, Dashboard, Fehler, 404, Seite nicht gefunden">
    <title>Tesla-Dashboard - Error 404</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            background-color: #0d4da2; /* Tesla Deep Blue Metallic */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            height: 100vh;
            width: auto;
        }
    </style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9376188585752918"
     crossorigin="anonymous"></script>
</head>
<body>
    <img src="/images/404.jpg" alt="Fehler 404">
</body>
</html>
