<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Tesla-Dashboard - Error 404</title>
    <style>
        body {
            margin: 0;
            height: 100vh;
            background-color: #00008B;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="/images/404.jpg" alt="Fehler 404">
</body>
</html>
