<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Tesla Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <h1>Tesla Dashboard</h1>
    <label for="vehicle-select">Fahrzeug auswählen:</label>
    <select id="vehicle-select"></select>
    <div id="map" style="height: 400px; margin-top: 10px;"></div>
    <div id="info"></div>
    <pre id="data" style="display:none;"></pre>

    <script src="/static/js/main.js"></script>
</body>
</html>
